@{
    ViewBag.Title = "About";
}



<div class=" text-justify"  >
    <h2>@ViewBag.Title.</h2>
    <p>Nextdhoom is for coming together and connecting from whenever you’re distant. Nextdhoom’s chat, voice call and video call made it easy to share moments with the friends or peoples that important to you, anywhere they are. With Nextdhoom, you can share a tale, celebrate a birthday, learn something, organize a conference, and work with social group – just regarding everything you need to do together. You can manage Nextdhoom on anything works great for you - on your mobile phone or pc or a television with Nextdhoom on it. It is free of cost to register and use Nextdhoom services - to talk video call and instant texting other friends on Nextdhoom for instance. You can see your friends together with group video conference or private group video calling.</p> 
    <h3>Search New Friends</h3>
    <p>
        Meet Friends close to or those you may know, and build new contacts with anybody in the world</p> 
    <h3>Image Sharing</h3> 
<p>
        Edit your account with image, and review & like other friends photos</p> 
    <h3>
        Search new jobs</h3> 
        <p>
            Career Jobs - Find jobs in IT, fresher jobs, latest jobs, IT Jobs and Sales Jobs... Stand out from the job searching crowd with a unique combination of skills
        </p>
    <h3>
        Post Free Classifieds</h3> 
        <p>
            Nextdhoom offers free service to post classified ads in all over the world. You can post ad at free of cost and search through the massive collection of free classifieds
        </p>
    <h3>
        Directory Listing</h3> 
        <p>Simply add your company or business services with marketing plans choice from our open Local Basic Listing plan. Our Directory Submission service is the great way to generate a large number of one way links. Manual and appropriate suggestion by our specialists ensures high.</p>

</div>
<h3>NextDhoom Team</h3>


   
