@{
    ViewBag.Title = "Free Video Calls, Free Video Conferencing, Chatting system";
}


   <div class="jumbotron">
    <h1>Nextdhoom.com</h1>
    <p class="lead">
       Chat with your Friends,Video calls, Video conferencing Free</p>
       <img src="~/images/videocall.png" />
       <div class="pull-right">
          <iframe width="560" height="315" src="//www.youtube.com/embed/k7NPHO3FBrI" frameborder="0" allowfullscreen></iframe>

       </div>
    <p>
       <a href="home/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
       <div class="pull-right">
          
           <script src="https://apis.google.com/js/platform.js" async defer></script>
           <div class="g-plusone" data-annotation="inline" data-width="200"></div>
       </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register with your Google Alc, to avoid invalid email enteries and also to allow only genuine members to register
        </p>
        <p><a class="btn btn-default" href="http://www.nextdhoom.com/home/Register">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more from it</h2>
        <p>
        Advertise your product,free job posting and classified postings, list your buisness for free, real members to see your ads</p>
        <p><a class="btn btn-default" href="http://www.nextdhoom.com/home/Postads">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video and Text Chat</h2>
        <p>
        Far Better than skype of any other technology which allows free video chat</p>
        <p><a class="btn btn-default" href="http://www.nextdhoom.com/home/TVchat">Learn more &raquo;</a></p>
    </div>
</div>
